* {
  margin: 0%;
}

body {
  font-family: Outfit;
  margin: 0%;
}

nav {
  display: flex;
  color: #ffffff;
  min-height: 64px;
position: fixed;
  align-items: center;
  justify-content: space-around;
top: 0%;
  background: #2b2a2b;
  width: 100vw;
}

#logo {
  display: flex;

  min-width: 213.86px;
  min-height: 36px;
  gap: 7.33px;
  justify-content: space-evenly;
  align-items: center;
}

#titleDirection {
  width: 186px;
  height: 36px;

  opacity: 0.86px;

  font-size: 23.46px;
  font-weight: 400;
  line-height: 35.19px;
  text-align: left;
}

#export-coffeeHot {
  width: 20.53px;
  height: 24.93px;
  top: -0.02px;
}

#menuWrapper {
    gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 512px;
  min-height: 32px;
}
#list-menuWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;



  font-size: 14px;
  font-weight: 600;
  line-height: 16px;

  list-style: none;
}
/* #list-menuWrapper li{

} */
#frame9 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 288px;
  min-height: 40px;
  gap: 24px;
  opacity: 0px;
}

#numberPhone {
  width: 102px;
  height: 16px;

  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

#link-numberPhone {
  display: flex;
  flex-direction: row;
  min-width: 134px;
  min-height: 24px;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}
#img-link-numberPhone {
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;

  border: 2px 0px 0px 0px;
}

#numberPhone {
  width: 102px;
  height: 16px;

  font-family: Outfit;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}
#starSession {
  display: flex;
  min-width: 130px;
  min-height: 40px;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  align-items: center;

  background: #515051;
}
#tex-starSession {
  width: 82px;
  height: 16px;

  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}
/* 




 */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E3DED74D;
margin-top: 64px;
  min-height: 486px;
  box-shadow: 0px 4px 4px 0px #00000040;

}
#hero-wrapper {
  display: flex;
  align-items: center;
  /*  */
  max-width: 1200px;
  min-height: 390px;
  gap: 24px;
}

#pre-title {
  color: #2a5b45;
}

#botton-hero {
  display: flex;

  gap: 16px;
  width: 321px;
}

#hero-firstBotton {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 168px;
  min-height: 40px;
  justify-content: center;
  background: #1f1815;
  color: #ffffff;
  border-radius: 4px;
}
#hero-secondBotton {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 168px;
  min-height: 40px;
  justify-content: center;
  background: #2a5b45;

  color: #ffffff;
  border-radius: 4px;
}
#text-hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 




 */

#cards-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  min-height: 380px;
  text-align: center;

  background-image: url(assets/img/086aa1e226e5adfe010fd0fb3ff3e2cb.jpeg);
  background-position: center;
  background-size: cover;
}
#titleServices {
  color: #ffffff;
}
#cardServicesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 996px;
  min-height: 232px;
  gap: 24px;
  /*  */
}
.greenBoxCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  min-height: 64px;
  border-radius: 20px;
  background: #2a5b45;
}
.cardService {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 316px;
  height: 232px;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0px 1px 4px 0px #E3DED7CC;
  border: 1px solid #F7F5F3;

  background-color: #ffffff;
}
 .cardService p {
    font-size: 14px;
  width: 268px;
}

/* 





 */
#cards-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 603.39px;
  gap: 40px;
}
#titleCardsNews {
  color: #2a5b45;
}
#cardWrapperNews {
  display: flex;

  width: 1200px;
  min-height: 391.39px;
  gap: 24px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 24px;
  width: 282px;
  min-height: 391.39px;
  border: 1px solid #e3ded7;
  border-radius: 8px;

}
.botton-include {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 60px;
  min-height: 32px;
  color: white;
  background: #2a5b45b2;

  border-radius: 4px;
}

#linkIcon-newCards {
  display: flex;
  text-decoration: underline;
}
.product:hover{
    background: #F7F5F3;
}
.product:hover a{
    background: #2A5B45;
    ;
}



/* 



 */

#frequently-asks-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  min-height: 621px;
  background: #2a5b45;
}

#FAQ-wrapper {
    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
  gap: 16px;
  color: black;
  width: 668px;
  min-height: 425px;
}
.titleChevron{
display: flex;

}
.FAQ{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 668px;
    height: 72px;
    background: #F7F5F3;
    border-radius: 10px ;
}
.FAQ h3{

display: flex;
    width: 620px;
    min-height: 24px;
    
    justify-content: space-between;
}

.FAQ hr{

opacity: 0%;
   
    width:  0%;
 
}
.FAQ p{
display: none;
    opacity: 0%;
      font-size: 12px;
        height: 0%;
     
    }

    #FAQ1:hover {
height:136px ;
gap: 16px;


    }
    #FAQ2:hover  {
height:168px ;
gap: 16px;


    }
    #FAQ3:hover  {
height:168px ;
gap: 16px;

    }

    .FAQ:hover hr{
        opacity: 100%;
   
       width: 620px;
    }
    .FAQ:hover p{
        display: flex;
        opacity: 100%;
   width: 620px;
       height: 24px;
    }
    .img-FAQ{
        transition: all 0.5s;
    }
    .FAQ:hover .img-FAQ{
        transform: rotate(180deg);
    }



#linkIcon-FAQ {
  color: #ffffff;
  display: flex;
  text-decoration: underline;
}
/* 






 */

#feature-section{

display: flex;
justify-content: center;
align-items: center;

}

#feature-wrapper{
display: flex;

}