* {
  margin: 0%;
  padding: 0%;
  font-family: Outfit;
}
a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  color: #ffffff;
  min-height: 64px;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  top: 0%;
  background: #2b2a2b;
  width: 100vw;
}

#logo {
  display: flex;
  color: white;
  min-width: 213.86px;
  min-height: 36px;
  gap: 7.33px;
  justify-content: space-evenly;
  align-items: center;
}

#titleDirection {
  width: 186px;
  height: 36px;
  opacity: 0.86px;
  font-size: 23.46px;
  font-weight: 400;
  line-height: 35.19px;
}

#exportCoffeeHot {
  width: 20.53px;
  height: 24.93px;
  top: -0.02px;
}

#listMenuWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  min-width: 512px;
  min-height: 32px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  list-style: none;
  padding: 8px;
}
#listMenuWrapper li {
  display: flex;
 align-items: center;
  height: 32px;

padding: 8px;
  
 
}
#listMenuWrapper li:hover {
  display: flex;
 align-items: center;
  height: 32px;
  background: #F7F5F31A;
padding: 8px;
  
  border-radius: 10px ;
}

#frame9 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 288px;
  min-height: 40px;
  gap: 24px;
}

#numberPhone {
  width: 102px;
  height: 16px;
  font-weight: 600;
  line-height: 16px;
}

#linkNumberPhone {
  display: flex;
  min-width: 134px;
  min-height: 24px;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}
#imgLinkNumberPhone {
  width: 18px;
  height: 18px;
}

#numberPhone {
  width: 102px;
  height: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}
#starSession {
  display: flex;
  min-width: 130px;
  min-height: 40px;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  background: #515051;
  text-decoration: none;
}
#texStarSession {
  width: 82px;
  height: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: white;
}
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3ded74d;
  margin-top: 64px;
  min-height: 486px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
#heroWrapper {
  display: flex;
  align-items: center;
  max-width: 1200px;
  min-height: 390px;
  gap: 24px;
}

#preTitle {
  color: #2a5b45;
}

#bottonHero {
  display: flex;
  gap: 16px;
  width: 321px;
}

#heroFirstBotton {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 168px;
  min-height: 40px;
  justify-content: center;
  background: #1f1815;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 600;
  line-height: 16px;
}
#heroSecondBotton {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 168px;
  min-height: 40px;
  justify-content: center;
  background: #2a5b45;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 600;
  line-height: 16px;
}
#textHero {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#cardsServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  min-height: 380px;
  text-align: center;
  background-image: url(assets/img/086aa1e226e5adfe010fd0fb3ff3e2cb.jpeg);
  background-position: center;
  background-size: cover;
}
#titleServices {
  color: #ffffff;
}
#cardServicesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 996px;
  min-height: 232px;
  gap: 24px;
}
.greenBoxCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  min-height: 64px;
  border-radius: 20px;
  background: #2a5b45;
}
.cardService {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 316px;
  height: 232px;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0px 1px 4px 0px #e3ded7cc;
  border: 1px solid #f7f5f3;
  background-color: #ffffff;
}
.cardService > p {
  font-size: 14px;
  width: 268px;
}
.cardService > h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
#cardsNews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 603.39px;
  gap: 40px;
}
#titleCardsNews {
  color: #2a5b45;
}
#cardWrapperNews {
  display: flex;

  width: 1200px;
  min-height: 391.39px;
  gap: 24px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 24px;
  width: 282px;
  min-height: 391.39px;
  border: 1px solid #e3ded7;
  border-radius: 8px;
}
.bottonInclude {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 32px;
  color: white;
  background: #2a5b45b2;
  border-radius: 4px;
}

#linkIconNewCards {
  display: flex;
  text-decoration: underline;
  gap: 16px;
  align-items: center;
}

#linkIconNewCards a {
  color: #000000;
  font-weight: 600;
  line-height: 16px;
}

.product:hover {
  background: #f7f5f3;
}
.product >a:hover {
  background: #2a5b45;
  cursor: pointer;
}
#frequentlyAsksQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  min-height: 621px;
  background: #2a5b45;
  gap: 24px;
}

#FAQWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: black;
  width: 668px;
  min-height: 425px;
}
.titleChevron {
  display: flex;
}
.FAQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 668px;
  height: 72px;
  background: #f7f5f3;
  border-radius: 10px;
  transition: 0.5s;
}
.FAQ h3 {
  display: flex;
  width: 620px;
  min-height: 24px;
  justify-content: space-between;
  transition: 0.5s;
}

.FAQ hr {
  opacity: 0%;
  width: 0%;
  transition: 0.5s;
}
.FAQ p {
  display: none;
  opacity: 0%;
  font-size: 12px;
  height: 0%;
  transition: 1s;
}

#FAQ1:hover {
  height: 136px;
  gap: 16px;
}
#FAQ2:hover {
  height: 168px;
  gap: 16px;
  padding-bottom: 24px;
}
#FAQ3:hover {
  height: 168px;
  gap: 16px;
}

.FAQ:hover hr {
  opacity: 100%;
  width: 620px;
}
.FAQ:hover p {
  display: flex;
  opacity: 100%;
  width: 620px;
  height: 24px;
}
.imgFAQ {
  transition: all 0.5s;
}
.FAQ:hover .imgFAQ {
  transform: rotate(180deg);
}

#linkIconFAQ {
  color: #ffffff;
  display: flex;
  text-decoration: underline;
  align-items: center;
  gap: 16px;
}
#featureSection {
  background: #f7f5f3;
  display: flex;
  justify-content: center;
  height: 480px;
}

#featureWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 44.61px;
  width: 1200px;
  height: 390px;
}

#textFeatureWrapper {
  display: flex;
  flex-direction: column;
  width: 457px;
  min-height: 116px;
  gap: 16px;
}
#textFeatureWrapper h2 {
  font-weight: 500;
  line-height: 28px;
  color: #2a5b45;
}

#textFeatureWrapper p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
#imgFeatureWrapper {
  width: 588px;
  height: 390px;
  border-radius: 20px;
}

#linkIconFeatureSection {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: underline;
  gap: 16px;
}
#linkIconFeatureSection a {
  font-weight: 600;
  line-height: 16px;
  color: #000000;
}
#contactFormSection {
  min-height: 552px;
  background: #e3ded7;
  display: flex;
  justify-content: center;
}
#contentContactFormSection {
  display: flex;
  width: 1200px;
  min-height: 552px;
  gap: 24px;
  align-items: center;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 588px;
  min-height: 320px;
  gap: 32px;
  opacity: 0px;
  color: #6b7280;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
#textContac {
  min-height: 68px;
  gap: 12px;
}
#textContac > h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #111827;
}

#contentContact {
  display: flex;
  flex-direction: column;
  height: 220px;
  gap: 24px;
}

#directionContact {
  width: 344px;
  height: 27px;
}

#numberPhoneMail {
  display: flex;
  flex-direction: column;
  height: 60px;
  gap: 12px;
}

.ourInfo {
  display: flex;
  min-height: 24px;
  gap: 12px;
}
#TrailingContent {
  width: 588px;
  min-height: 552px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #374151;
  box-shadow: 0px 4px 4px 0px #00000040;
}
form {
  display: flex;
  flex-direction: column;
  min-width: 470px;
  min-height: 488px;
  gap: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

#TrailingContent input {
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px #0000000d;

  height: 34px;
}
#inputLableName {
  display: flex;
  flex-direction: column;
  min-height: 54px;
  gap: 4px;
}
#inputLableMail {
  display: flex;
  flex-direction: column;
  min-height: 54px;
  gap: 4px;
}
#inputLableNumberPhone {
  display: flex;
  flex-direction: column;

  min-height: 58px;
}
#containerNumPhone {
  display: flex;
  gap: 0%;
}
#containerNumPhone > select {
  display: flex;
  text-align: center;
  width: 68px;
  height: 38px;
  border: 1px solid #d1d5db;
  border-right: 0px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  border-radius: 6px 0px 0px 6px;
}

#containerNumPhone > input {
  width: 402px;
  height: 36.4px;
  border-left: 0px;
  border-radius: 0px 6px 6px 0px;
}

#inputLableTexrArea {
  display: flex;
  flex-direction: column;
  min-height: 142px;
  gap: 4px;
}
::placeholder {
  padding-top: 13px;
  padding-left: 17px;
}
textarea {
  display: flex;
  justify-content: center;

  border: 1px solid #d1d5db;
  border-radius: 6px;

  height: 142px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  text-align: justify;
}

#inputLableTexrArea > label {
  opacity: 0%;
}
#inputLableCheckBox {
  display: flex;
  align-items: center;
  min-height: 20px;
  gap: 12px;
}
#inputLableCheckBox a {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-decoration: underline;
  color: #374151;
}

#inputLableCheckBox > input {
  border: 1px solid #d1d5db;
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

#inputLableCheckBox span {
  color: #374151;

  font-weight: 600;
  line-height: 16px;
}
#formBotton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2a5b45;
  color: #ffffff;
  width: 90px;
  min-height: 40px;
  border-radius: 4px;
}
#inputLableName:hover input {
  border: 1px solid #9b9ea3;
}
#inputLableName:focus input {
  border: 2px solid #3f8f6b;
}
#inputLableMail:hover input {
  border: 1px solid #9b9ea3;
}
#inputLableMail:focus input {
  border: 2px solid #3f8f6b;
}
#containerNumPhone:hover input {
  border: 1px solid #9b9ea3;
  height: 36px;
  border-left: 0px;
}
#containerNumPhone:focus input {
  border: 2px solid #3f8f6b;
  height: 36px;
  border-left: 0px;
}
#containerNumPhone:hover select {
  border: 1px solid #9b9ea3;
  border-right: 0px;
}
#containerNumPhone:focus select {
  border: 2px solid #3f8f6b;
  border-right: 0px;
}
#inputLableName:hover input {
  border: 1px solid #9b9ea3;
}
#inputLableName:focus input {
  border: 2px solid #3f8f6b;
}
#inputLableTexrArea:hover textarea {
  border: 1px solid #9b9ea3;
}
#inputLableTexrArea:focus textarea {
  border: 2px solid #3f8f6b;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 310px;
  align-items: center;
  background: #1f1815;
  color: white;
  font-size: 14px;
}
#footerWrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 204px;
  margin-top: 28.61px;
  gap: 16px;
}
#copyraightFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background: #2b2a2b;
  line-height: 16px;
}
#copyraightFooter p {
  margin-left: 150px;
}
#logoFooter {
  display: flex;
  align-items: center;
  font-size: 23.46px;
  width: 288px;
  height: 36px;
  gap: 7.33px;
}

#linksContacts {
  display: flex;
  width: 1132px;
  height: 152px;
  gap: 183px;
}
#contactWrapper {
  display: flex;
  flex-direction: column;
  width: 255.33px;
  height: 152px;
  gap: 16px;
}
#menuContactWrapper1 {
  display: flex;
  flex-direction: column;
  list-style: none;
  min-width: 96px;
  min-height: 144px;
  gap: 16px;
  margin-left: 137px;
}

#menuContactWrapper2 {
  display: flex;
  flex-direction: column;
  width: 255.33px;
  height: 80px;
  list-style: none;
  gap: 16px;
}

#contactWrapper h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
#bottonContactsFooter1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  min-height: 48px;
  background: #515051;
  border-radius: 4px;
}
#bottonContactsFooter2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 232px;
  min-height: 48px;
  background: #515051;
  border-radius: 4px;
}
.contactBotton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 8px;
}
